*{
    margin: 0;
    padding: 0;
}


#body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
}

header{
    background-color: mediumvioletred;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0 20px;
    flex-grow: 1;
}

header>img{
    flex-grow: 0;
}

header>h2{
    flex-grow: 1;
    padding-left: 20px;
}

header>button{
    flex-grow: 0;
}

#icon-header{
    width: 20px;
}

footer{
    display: flex;
    background-color: mediumvioletred;
    flex-grow: 200px;
    height: 40px;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
}

#main{
    flex-grow: 4;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav{
    background-color: #f2d0e0;
    /* border: 1px solid black; */
    flex-grow: 1;
}

nav>div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    padding: 10px 20px;
    align-items: center;
}

div>h3{
    flex-grow: 1;
    padding-left: 15px;
    text-align: left;
}

section{
    flex-grow: 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    align-items: center;
    justify-items: center;

}

.section{
    width: 250px;  
}

div>img{
    width: 15px;
}

section>div{
    display: flex;
    flex-direction: column;
    flex-direction: column;
    box-shadow: 2px 2px 2px 2px darkgray;;
    width: 66.5%;
    align-items: center;
    margin: 15px 0;
}

section h3{
    text-align: center;
    padding: 10px 0;

}

section p{
    text-align: center;
    font-size: 14px;
    padding-bottom: 10px;
}


