
/* home*/

.sizeBox{
    height: 100px;
}

header{
    background: gray;
    padding: 15px;
    
    height: 100px;
}

.chamada{
    text-align: left;
    padding: 5px 20px;
}

a:link{
    text-decoration: none;
    padding: 15px;
}

a:visited{
    color:blue;
}

a:hover{
    background: gray;
    color: black;
}

a:active{
    color: black;
}

.logos{
    max-width: 50px;
}

footer{
    position: absolute;
    bottom: 0;
    
    width: 100%;
    background: gray;
    height: 130px;
}

.footer{
    padding: 10px;
    margin: 10px auto;
    text-align: center;
}

.cabecalho{
    display: block;
    text-align: center;
}

.menu{
    float: right;
    padding: 15px;
}

/* chuteiras*/

.principal1{
    
}
.principal2{
    padding-bottom: 130px;
    height:min-content;
}

table{
    text-align: center;
    position: relative;
    padding-left: 50px;
}

th{
    
    padding: 10px 15px;
}

td{
    padding: 0px 15px;
}

.imgChuteiras{
    max-width: 50%;
}

/* add*/

.form{
    padding: 20px;
    text-align: left;
}

.individualForm{
    padding:  20px;
    margin: 20px;
}

.divForm{
    margin: 20px;
}

.buttonForm{
    margin: 20px;
    padding: 10px;
}

.form-add{
    margin-left: 300px;
}

/*funcionarios*/

.func{
    font-size: 25px;
}

li{
    margin: 15px;
}

.footer1{
    bottom: unset;
}

input{
    padding-left: 20px;
}